*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* --------- NAVBAR */
.top-nav{
  top:0;
  width: 100%;
}


/* for sticky sidebar */
.content-body{
  align-items: flex-start;
}

.side-nav{  
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  box-shadow: 0 0 20px -3px #D5DBDB;
}

.side-nav ul li{
  color: #34495E;
  font-size: 1.2rem;
  font-weight: normal;
  list-style: none;
  padding: 15px;
  width: 200px;
  border-radius: 50px;
}

a:hover{
  text-decoration: none;
}
.side-nav ul li:hover{
  box-shadow: 0 0 10px #D5DBDB;
}







/* ---------- BODY */


.tables{
  border-radius: 10px;
  box-shadow: 0 0 10px #D5DBDB;
}

.userRow{
  cursor: pointer;
}



/* --------- FILTER SECTION */

.filter-section{
  min-width: 210px;
  background-color: antiquewhite;
  border-radius: 10px;
  box-shadow: 0 0 10px #D5DBDB;
}

.filter-section .hideShowTitle{
  vertical-align: middle;
  cursor: pointer;
}

.filter-section span:hover{
  cursor: pointer;
  background-color: #D5DBDB;
  
}


.pageNavigator{
  width: 500px;
}

/* ----- ANIMATION */

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

/* ---------- USER DETAIL */

.input-container {
  padding: 0 8px;
}
.input-container input{
  border: none;
  background: transparent;
  font-size: 18px;
  outline: 0;
  padding: 20px 0 5px;
}

.input-container label {
  font-size: 16px;
  color: #AAB7B8;
  position: absolute;
  transform-origin: top left;
  transform: translate(0, 4px) scale(.75);
}


.profile_pic_parent{
  overflow-x: auto;
}

.profile_pic_container{
  width: fit-content;
  z-index: 1;
}

.profile_pic_container:hover{
  background: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73));
}

.profile_pic{
  height: 200px;
  width: auto;
  z-index: -1;
}

.profile_pic_approve{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}